#clockContainer{
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    
}
#name{
    background-color: #f7f2f2;
    border: 4px solid gray;
    padding: 13px;
    margin: 21px;
    align-self: center;
    text-align: center;
    color: teal;
}
body{
    background-color: black;
}
#hour,#minute,#second{
        position: relative;
        background-color: black;
        border-radius: 10px;
        transform-origin: bottom;
}
#hour{
    width: 2%;
    height: 30%;
    top: 20%;
    left: 48.8%;
    border-radius: 21%;
    background-color: black;
    /* display: none; */

}
#minute{
    width: 1.5%;
    height: 33.8%;
    top: -13.9%;
    left: 49.3%;
    border-radius: 15%;
    /* display: none; */

}
#second{
    width: 1%;
    height: 43%;
    top: -56.8%;
    left: 49.3%;
    border-radius: 18%;
}